@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
	background: #eeeeee;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-family: 'Permanent Marker', cursive;
}

.logo {
	width: 75px;
	
}

.botonera li {
	display: inline-block;
	margin-left: 8px;
	font-weight: 700;
	font-size: 25px;
	padding-top: 0.7rem;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.botonera li a {
	color: rgb(33, 199, 75);
}

.botonera li a:hover {
	color: white;
	text-decoration: none;
}

header {

	padding-top: 15px;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	z-index: 34242;
	height: 9%;
}

.principal {
	background: red;
	height: 90vh;
	background: url(../images/cheapback.jpeg)no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.vertical-centered-text {
	-ms-display: flex;
	display: flex;
	/* alineacion vertical */
	align-items: center;
	/* alineacion horizontal */
	justify-content: center;
}

.cta {
	text-align: center;
}

h1.bienvenida {
	color: #ff3300;
}

h1 {
	font-weight: 700;
	font-size: 50px;
	color: rgb(255, 255, 255);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h4 {
	color: white;
}

.orange {
	background: #d80a0a;
}

.nosotros {
	width: 100%;
	height: 275px;
	text-align: center;
	color: rgb(17, 17, 17);
	font-size: 1.3rem;
}

.nosotros h1 {
	font-weight: 100;
}

p.video {
	font-size: 2rem;
}

.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
	
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	
}

.video-holder{
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 315px;
}

.servicios {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 50px;
}

.servicios img {
	width: 40%;
	text-align: center;
}

.servicios h1 {
	color: #d80a0a;
	font-weight: 100;
}

.servicios .images {
	padding-top: 30px;
}

.images .col-md-3 {
	padding-top: 20px;
}

.social {
	vertical-align: middle;
}

.social img {
	width: 30%;
	text-align: center;
}

footer {
	background: #f2d422;
	height: auto;
	padding-top: 30px;
}

footer h1 {
	text-align: center;
	font-weight: 100;
}

.btn-primary {
	border-color: black;
}

.btn {
	font-size: 1.7rem;
}

#home {
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.col-xs-4 {
	text-align: center;
}

.wrapper {
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
}

.wrapper .icon {
	position: relative;
	background-color: #ffffff;
	border-radius: 50%;
	padding: 15px;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
	position: absolute;
	top: 0;
	font-size: 14px;
	background-color: #ffffff;
	color: #ffffff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	background-color: #ffffff;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.wrapper .icon:hover span, .wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover, .wrapper .facebook:hover .tooltip, .wrapper .facebook:hover .tooltip::before {
	background-color: #3b5999;
	color: #ffffff;
}

.wrapper .twitter:hover, .wrapper .twitter:hover .tooltip, .wrapper .twitter:hover .tooltip::before {
	background-color: #46c1f6;
	color: #ffffff;
}

.wrapper .instagram:hover, .wrapper .instagram:hover .tooltip, .wrapper .instagram:hover .tooltip::before {
	background-color: #e1306c;
	color: #ffffff;
}

.wrapper .github:hover, .wrapper .github:hover .tooltip, .wrapper .github:hover .tooltip::before {
	background-color: #333333;
	color: #ffffff;
}

.wrapper .youtube:hover, .wrapper .youtube:hover .tooltip, .wrapper .youtube:hover .tooltip::before {
	background-color: #de463b;
	color: #ffffff;
}

/*@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { }
@media only screen and (min-width: 324px) and (max-width: 736px) {*/

@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
	/* iPhone only */
	/* Styles */
	.off {
		display: none !important;
	}
	.on {
		display: block !important;
	}
	.col-md-2 {
		width: 100%;
	}
	.social img {
		width: 100%;
	}
	.botonera li a {
		font-size: 13px;
	}
	.nosotros {
		height: 400px;
		overflow: hidden;
		padding-top: 15px;
	}
	#home {
		padding-top: 65px;
	}
	h1 {
		font-size: 30px;
	}
	footer {
		padding-top: 10px;
	}
}